if message != ''
  <div class="row">
    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      | #{message}
    </div>
  </div>
